@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
body{
	margin:0;
}
header{
	background: black;
	color:white;
	padding: 8px 0px 6px 40px;
	height: 48px;
}
header h1{
	display: block;
	font-family: 'Oswald',sans-serif;
	font-weight: 400;
	font-size: 43px;
	float:inherit;
	margin-top: 0px;
	margin-right: 20px;
}
nav ul{
	display: inline;
	padding: 0px;
	float: left;
}
nav ul li{
	display: inline-block;
	list-style-type: none;
	color:white;
	float: left; 
	margin-left: 12px ;
}

nav ul li a{
	color:white;
	text-decoration: none;
	
}

#nav{
	font-family: 'Montserrat', sans-serif;
}

.homered{
	background-color: #ff8000;
	padding: 30px 10px 16px 10px;
}
.divider{
	background-color: #ff8000;
	height: 5px;
}
.homeblack:hover{
	background-color:#ff8080 ;
		padding: 30px 10px 16px 10px ;
}
.fwimage1{
	background-image: url(../images/rst.jpg);
	width:100%;
	height:100%;
	background-repeat: no-repeat;
	background-size: cover;
	position:absolute;
	margin: 0;
	padding: 0;
}
.loginbox{
	width:320px;
	height:420px;
	background: url(../images/india.jpg);
	background-position: center;
	color: #fff;
	top: 60%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
}
.avatar{
	width:100px;
	height:100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}
h1{
	margin:0;
	padding: 0 0 20px;
	background: transparent;
	text-align:center;
	front-size:22px;
	color: #400000;
}

h2{
	margin:0;
	padding: 0 0 20px;
	text-align:center;
	front-size:22px;
}
.loginbox p{
	margin:0;
	padding:0;
	font-weight: bold;
}
.loginbox input{
	width:100%;
	margin-bottom:20px;
}
.loginbox input[type="text"], input[type="password"]{
	border:none;
	border-bottom: 1px solid #000000;
	background:transparent;
	outline: none;
	height: 40px;
	color:#000000;
	font-size:16px;
}
.loginbox input[type="submit"]{
	border:none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size:18px;
	border-radius:20px;
}
.loginbox input[type="submit"]:hover{
	cursor: pointer;
	background:#ffc107;
	color:#000;
}
.loginbox a{
	text-decoration: none;
	font-size: 15px;
	line-height: 20px;
	color: red;
	
}
.loginbox a:hover{
	color: #000000;
}